* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: auto;
    padding: 0 15px;

}

ul {
    list-style: none;
}

nav .container {
    text-align: center;
}

nav {
    padding: 0 50px
}


.menu {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}

.menu a {
    font-size: 18px;
    color: #8C8A8A;
}

.header-img {
    text-align: center;
}

.logo {
    margin-top: 50px;
    display: block;
}

.header-img img {
    max-width: 1110px;
    width: 100%;
}

.header-img {
    margin-top: 37px;
}

.about-block {
    max-width: 1110px;
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;

}

.about-left {
    max-width: 730px;
    width: 100%;
    padding: 50px 95px 51px 40px;
    background: #F0F0F0;
}

.about-right {
    max-width: 350px;
    width: 100%;
    padding: 50px 24px 51px 40px;

    background: #F0F0F0;
}

.title-about {
    color: #4581B7;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 25px;
}

.text-about {
    line-height: 27px;
    color: #808080;
}

.title {
    color: #4581B7;
    
}



.text {
    line-height: 27px;
    margin-top: 25px;

}



.tel {
    margin-top: 30px;
    margin-bottom: 55px;

}

.foot {
    max-width: 1110px;
    width: 100%;
    background: #F0F0F0;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

}

.fon {
    margin-bottom: 10px;
}